[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "vendor/asmjit"]
	path = vendor/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "vendor/GSL"]
	path = vendor/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/backward-cpp"]
	path = vendor/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "vendor/discord-rpc"]
	path = vendor/discord-rpc
	url = https://github.com/EinTim23/discord-rpc.git
